name: Publish v8 include files and static library
on:
   [push]
#  release:
#    types:
#      - published

env:
  V8_VERSION: "14.4.258.6"

defaults:
  run:
    shell: bash

jobs:
  build-windows:
    name: windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [x86_64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Fetch v8 code
        shell: pwsh
        run: |
          git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
          echo "$pwd/depot_tools" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "DEPOT_TOOLS_WIN_TOOLCHAIN=0" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Checkout and sync
        run: |
          export DEPOT_TOOLS_WIN_TOOLCHAIN=0
          gclient
          fetch v8
          cd v8
          git checkout $V8_VERSION
          gclient sync
      - name: Build v8 static library
        shell: pwsh
        run: |
          Set-Location -Path v8
          New-Item -ItemType directory -Path ./out.gn/${{ matrix.platform }}.release/
          Copy-Item "../windows-${{ matrix.platform }}.gn" -Destination "./out.gn/${{ matrix.platform }}.release/args.gn" -force          
          gn gen out.gn/${{ matrix.platform }}.release
          gn desc out.gn/${{ matrix.platform }}.release :v8_monolith
          ninja -j 4 v8_monolith -C out.gn/${{ matrix.platform }}.release/
          nm -gC out.gn/${{ matrix.platform }}.release/obj/libv8_monolith.a | grep "U " | grep "std::" | head -n 64
